<div class="form-group">
    <div class="offset-md-3 col-md-3">
        <input type="submit" class="btn btn-success btn-lg custom-button" value="SAVE" />
        <a asp-action="Index" class="btn btn-danger btn-lg">CANCEL</a>
    </div>
</div>